<body>
  <div class="card">
    <div class="card front">
      <p class="front__role">Analista<br />Funcional</p>
      <p class="front__name">Brian<br />Julian Inhouds</p>
      <p class="front__about">
        Este es un texto de ejemplo para ver como queda la section de About me
        en el componente de la carta que gira
      </p>
      <p class="front__hint">pasa el cursor para ver más</p>
    </div>
    <div class="card back">
      <div class="back__group">
        <p class="back__group__title">Experiencia profesional :</p>
        <p class="back__group__item">
          <span class="back__group__item__date">2021 - Presente</span> Analista
          Funcional Charles Taylor
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">2019 - 2021</span> PM/Analista
          en RDS Sistemas
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">2018 - 2019</span> PM/Analista
          Funcional en GrupoCesa
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">2017 - 2018</span> Analista
          funcional en Marcelo H Pena
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">2016 - 2017</span> PM Analista
          Mitrol
        </p>
      </div>

      <div class="back__group">
        <p class="back__group__title">Formacion academica :</p>
        <p class="back__group__item">
          <span class="back__group__item__date">2018 - Presente</span>
          Analista de Sistemas
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">2012 - 2014</span> Técnico en
          informática profesional y personal
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">2007 - 2012</span> Bachiller en
          bienes y servicios
        </p>
      </div>

      <div class="back__group">
        <p class="back__group__title">Idiomas :</p>
        <p class="back__group__item">Ingles (Medio)</p>
      </div>

      <div class="back__contact">
        <p class="back__contact__title">Contactame</p>
        <a
          class="back__contact__link"
          href="https://www.linkedin.com/in/julian-inhouds-a559a6b0/"
          target="_blank"
          ><img
            src="../../assets/Iconos/linkedin.png"
            alt="Linkedin icon"
            class="back__contact__link__icon"
        /></a>
      </div>
    </div>
  </div>
  <button class="return" routerLink="../">
    <img
      src="../../assets/Iconos/return-icon.png"
      alt="An icon for return to the main page"
      class="return__icon"
    />
  </button>
</body>
