<body>
  <div class="card">
    <div class="card front">
      <p class="front__role">Functional<br />Analyst</p>
      <p class="front__name">Brian<br />Julian Inhouds</p>
      <p class="front__about">
        Este es un texto de ejemplo para ver como queda la section de About me
        en el componente de la carta que gira
      </p>
      <p class="front__hint">hover to read more</p>
    </div>
    <div class="card back">
      <div class="back__group">
        <p class="back__group__title">Professional experience :</p>
        <p class="back__group__item">
          <span class="back__group__item__date">2021 - Present</span> Functional
          Analist in Charles Taylor
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">2019 - 2021</span> PM/Analyst in
          RDS Sistemas
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">2018 - 2019</span> PM/Functional
          analyst in GrupoCesa
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">2017 - 2018</span> Functional
          analyst in Marcelo H Pena
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">2016 - 2017</span> PM Analyst
          Mitrol
        </p>
      </div>

      <div class="back__group">
        <p class="back__group__title">Academic formation :</p>
        <p class="back__group__item">
          <span class="back__group__item__date">2018 - Present</span>
          Systes analyst
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">2012 - 2014</span> Technical in
          professional and personal informatic
        </p>
      </div>

      <div class="back__group">
        <p class="back__group__title">Languages :</p>
        <p class="back__group__item">English (Medium)</p>
        <p class="back__group__item">Spanish (Native)</p>
      </div>

      <div class="back__contact">
        <p class="back__contact__title">Contact me</p>
        <a
          class="back__contact__link"
          href="https://www.linkedin.com/in/julian-inhouds-a559a6b0/"
          target="_blank"
          ><img
            src="../../assets/Iconos/linkedin.png"
            alt="Linkedin icon"
            class="back__contact__link__icon"
        /></a>
      </div>
    </div>
  </div>
  <button class="return" routerLink="../">
    <img
      src="../../assets/Iconos/return-icon.png"
      alt="An icon for return to the main page"
      class="return__icon"
    />
  </button>
</body>
