<body>
  <div class="card">
    <div class="card front">
      <p class="front__role">Sr. Functional<br />Analyst</p>
      <p class="front__name">Favio<br />Fernandez Alves</p>
      <p class="front__about">
        Leader and functional analyst. Project manager. Analysis of projects
        services and work groups. Monitoring and control of projects. Excellent
        customer relations and interpersonal skills with great capacity for team
        work. Ex Oracle developer.
      </p>
      <p class="front__hint">hover to read</p>
    </div>
    <div class="card back">
      <div class="back__group">
        <p class="back__group__title">Professional experience :</p>
        <p class="back__group__item">
          <span class="back__group__item__date">2012 - Present</span> PM. Líder
          funcional .Charles Taylor - Isban Santander - Turner.
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">2009 - 2012</span> PM. Leader
          Functional and Sr. Developer Banco Francés S.A. - Galeno S.A.
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">2007 - 2009</span> Leader
          Technical. Functional Analyst. Developer. Capgemini Argentina.
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">2001 - 2007</span> Oracle
          developer. Oracle Argentina - Startechnology S.A.
        </p>
      </div>

      <div class="back__group">
        <p class="back__group__title">Academic formation :</p>
        <p class="back__group__item">
          <span class="back__group__item__date">1997 - 2004</span> Degree in
          Sociology Ph.D. in Sociology
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">1997 - 2002</span> Degree in
          Letters. Universidad de Buenos Aires. Idiomas
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">1990 - 1996</span> Engineer in
          Information Systems Engineer. Universidad Tecnológica Nacional
        </p>
      </div>

      <div class="back__group">
        <p class="back__group__title">Languages :</p>
        <p class="back__group__item">
          English (Advanzed)- 7 Years of Study - Inst. Big Ben.
        </p>
      </div>

      <div class="back__contact">
        <p class="back__contact__title">Contact me</p>
        <p class="back__contact__email">favio1610@gmail.com</p>
      </div>
    </div>
  </div>
  <button class="return" routerLink="../">
    <img
      src="../../assets/Iconos/return-icon.png"
      alt="An icon for return to the main page"
      class="return__icon"
    />
  </button>
</body>
