<body>
  <div class="card">
    <div class="card front">
      <p class="front__role">Developer<br />.NET Sr.</p>
      <p class="front__name">Jorge Luis<br />Torres</p>
      <p class="front__about">
        Microsoft certified professional developer, with experience developing
        design solution in .NET platform, certified in HTML5, CSS3 and
        JavaScript, interested in learning new knowledge every day
      </p>
      <p class="front__hint">hover to read more</p>
    </div>
    <div class="card back">
      <div class="back__group">
        <p class="back__group__title">Professional experience :</p>
        <p class="back__group__item">
          <span class="back__group__item__date">2020 - 2021</span> IT Manager in
          Alimentos Heinz
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">2017 - 2020</span> Senior
          developer in GIGA Automation
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">2017 - 2018</span> IT Director
          in World Gold Corp
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">2016 - 2017</span> Manager of
          information of technology in Notitarde
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">2016</span> Instructor of HTML,
          CSS and JavaScript in Lourtec
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">2014 - 2016</span> Web
          development supervisor in Notitarde
        </p>
        <p class="back__group__item">
          <span class="back__group__item__date">2015</span> C# Instructor in
          Lourtec
        </p>
      </div>

      <div class="back__group">
        <p class="back__group__title">Academic formation :</p>
        <p class="back__group__item">Microsoft certified professional</p>
        <p class="back__group__item">TSU Informatica</p>
      </div>

      <div class="back__group">
        <p class="back__group__title">Languages :</p>
        <p class="back__group__item">English (Advanzed)</p>
        <p class="back__group__item">Italian (Basic)</p>
        <p class="back__group__item">Portuguese (Basic)</p>
        <p class="back__group__item">Spanish (Native)</p>
      </div>

      <div class="back__contact">
        <p class="back__contact__title">Contact me</p>
        <a
          class="back__contact__link"
          href="https://www.linkedin.com/in/jorgeluistorresalvarado/"
          target="_blank"
          ><img
            src="../../assets/Iconos/linkedin.png"
            alt="Linkedin icon"
            class="back__contact__link__icon"
        /></a>
      </div>
    </div>
  </div>
  <button class="return" routerLink="../">
    <img
      src="../../assets/Iconos/return-icon.png"
      alt="An icon for return to the main page"
      class="return__icon"
    />
  </button>
</body>
