<body>
  <section class="content">
    <div class="content__left">
      <h2 class="content__left__title" data-text="Referidos">Referidos</h2>
      <div class="content__left__buttons">
        <button class="content__left__buttons__next" (click)="nextCard()">
          Siguiente
        </button>
        <button
          class="content__left__buttons__view"
          (click)="viewCard(cardOne, cardTwo, cardThree)"
        >
          Ver
        </button>
      </div>
    </div>

    <div class="content__right">
      <div class="content__right__card one first" id="cardOne" #cardOne>
        <div class="content__right__card__cover">
          <p class="content__right__card__cover__role">
            Functional<br />Analyst
          </p>
          <p class="content__right__card__cover__name">
            Brian<br />Julian Inhouds
          </p>
        </div>
      </div>
      <div class="content__right__card two second" id="cardTwo" #cardTwo>
        <div class="content__right__card__cover">
          <p class="content__right__card__cover__role">
            Professional<br />Developer
          </p>
          <p class="content__right__card__cover__name">
            Jorge Luis<br />Torres
          </p>
        </div>
      </div>
      <div class="content__right__card three third" id="cardThree" #cardThree>
        <div class="content__right__card__cover">
          <p class="content__right__card__cover__role">
            Functional<br />Sr.Analyst
          </p>
          <p class="content__right__card__cover__name">
            Favio<br />Fernandez Alves
          </p>
        </div>
      </div>
    </div>
  </section>
</body>
