$background-color: rgb(26, 26, 64);
$cardOne-color: radial-gradient(
  ellipse at bottom left,
  rgb(39, 0, 130) 0%,
  rgb(39, 0, 130) 85%,
  rgb(47, 8, 138) 85%,
  rgb(47, 8, 138) 100%
);
$cardTwo-color: radial-gradient(
  ellipse at bottom left,
  rgb(80, 23, 115) 0%,
  rgb(80, 23, 115) 85%,
  rgb(86, 28, 122) 85%,
  rgb(86, 28, 122) 100%
);
$cardThree-color: rgb(190, 23, 115);
$rotatingLine: rgb(240, 240, 240);
$textColor: rgb(240, 240, 240);
$textCardColor: rgb(240, 240, 240);

body {
  height: 100vh;
  background-image: radial-gradient(
    ellipse at top left,
    rgb(26, 26, 64) 0%,
    rgb(26, 26, 64) 70.5%,
    rgb(21, 21, 51) 70.5%,
    rgb(21, 21, 51) 100%
  );
}

.content {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;

  &__left {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &__title {
      position: relative;
      font-size: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      color: transparent;
      background-color: transparent;
      text-align: center;
      width: 240px;
      height: 66px;
      overflow: hidden;

      &::before {
        content: attr(data-text);
        color: transparent;
        position: absolute;
        width: 20px;
        height: 500%;
        background-color: $rotatingLine;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        animation: rotation 6s linear infinite;
      }

      &::after {
        content: attr(data-text);
        color: $textColor;
        background-color: $background-color;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 235px;
        height: 59px;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        border: none;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__next {
        border: none;
        outline: none;
        font-size: 32px;
        color: $textCardColor;
        font-weight: 600;
        padding: 12px 24px;
        background-color: rgb(39, 0, 130);
        border-radius: 12px;
        margin-bottom: 16px;
        cursor: pointer;
        transition: all 0.2s;

        &:active {
          transform: scale(0.95);
        }
      }

      &__view {
        border: none;
        border-bottom: 2px solid transparent;
        outline: none;
        font-size: 24px;
        color: $textColor;
        font-weight: 500;
        background-color: transparent;
        margin-top: 16px;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          border-bottom: 2px solid $textColor;
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }
  }

  &__right {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__card {
      height: 460px;
      width: 380px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      font-size: 24px;
      color: $textCardColor;
      font-weight: 500;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

      &__cover {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__name {
          font-size: 24px;
          color: rgba(240, 240, 240, 0.8);
          text-align: center;
          text-transform: uppercase;
          font-weight: 600;
          margin-top: 32px;
        }

        &__role {
          font-size: 32px;
          color: rgb(240, 240, 240);
          text-align: center;
          text-transform: uppercase;
          font-weight: 700;
          margin-bottom: 32px;
        }
      }
    }
  }
}

.one {
  position: absolute;
  background-image: $cardOne-color;
  box-shadow: inset 12px 12px 24px rgba(0, 0, 0, 0.25);
}
.two {
  position: absolute;
  background-image: $cardTwo-color;
  box-shadow: inset 12px 12px 24px rgba(0, 0, 0, 0.25);
}
.three {
  position: absolute;
  background-color: $cardThree-color;
  box-shadow: inset 12px 12px 24px rgba(0, 0, 0, 0.25);
}
.first {
  transform: perspective(1000px) rotateY(-18deg) translateX(-20%) translateY(8%);
  z-index: 1000;
}
.second {
  transform: perspective(1000px) rotateY(-18deg);
  z-index: 500;
}
.third {
  transform: perspective(1000px) rotateY(-18deg) translateX(20%) translateY(-8%);
  z-index: 250;
}

@keyframes rotation {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
